<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{docTitle}
        link(rel="stylesheet", href="shop.css")
        link(rel="stylesheet", href="product.css")
    body
        header.main-header
            nav.main-header_nav
                ul.main-header_list-item
                    li.main-header_list
                        a.active(href="/") Shop
                    li.main-header_list
                        a(href="/add-product") Add Product    

        main
           .grid
           each product in prods
              article.card.product-item
                header.card_header
                    h1.product_title #{product.title}
                div.card_image
                    img(src="/imgfolder/img_test.jpeg" , alt="A book ")

                div.card_content
                    h2.product_price $28.98
                    p.produt_description A very interesting book for all to read
               
                .card_actions
                    button.btn Add To Cart
                                