<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="shop.css">
    <link rel="stylesheet", href="product.css">

    <!-- <style>
        body{
            margin: 0%;
            padding: 0%;
            font-family: sans-serif;
        }
        .main-header {
            width: 100%;
            height: 3.5rem;
            background-color: #b96504;
            padding: 0 1.5rem;
        }

        .main-header_nav{
            height: 100%;
            display: flex;
            align-items: center;
        }
        main{
            padding: 1rem;
        }

        .main-header_list-item {
            list-style: none;
            margin: 0%;
            padding: 0%;
            display: flex;
        }
        .main-header_list{
            margin: 0 1rem;
            padding: 0%;
        }
        .main-header_list a{
            text-decoration: none;
            color: black;
        }
        .main-header_list a:active,
        .main-header_list a:hover,
        .main-header_list a.active{
            color: #6200ff;
        }

        .product-form {
            width: 30rem;
            max-width: 90%;
            margin: auto;
        }

        .form-control {
            margin: 1rem 0;
            
        }

        .form-control label,
        .form-control input {
            display: block;
            width: 100%;
        }

        .form-control input{
           border: 1px solid  #b96504;
           font: inherit;
           border-radius: 2px;
        }
        button{
            border: 1px solid #b96504;
            font: inherit;
            border-radius: 3px;
            background-color: white;
            color: #b96504;
            cursor: pointer;
        }
        button:hover,
        button:active{
            background-color:  #6200ff;
            color: white;
        }
    </style> -->
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_list-item">
                <li class="main-header_list">
                    <a  href="/">Shop</a>
                </li>
                <li class="main-header_list">
                    <a href="/add-product">Add Product</a>
                </li>
                <li class="main-header_list">
                    <a href="/admin-product-list">Admin Products</a>
                </li>
                <li class="main-header_list">
                    <a href="/product_list"> Products</a>
                </li>
                <li class="main-header_list">
                    <a class="active" href="/cart">Cart</a>
                    <li class="main-header_list">
                        <a  href="/order">Order</a>
                    </li>
                </li>
            </ul>
        </nav>

    </header>
    
</body>
</html>